<!DOCTYPE html>
<html leng = "en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content = "width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Hello Node.js</h1>
    <h2>My name is {{ user }}</h2>
    <form method="post" action="/nodejs">
        <input type="text" name="name">
        <input type="password" name="password">
        <input type="submit" value="로그인">
    </form>
</body>
</html>